<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Formulario de Árbitro</title>
        <link rel="stylesheet" th:href="@{/css/referee.css}">
        <link rel="stylesheet" th:href="@{/css/back-button.css}">
    </head>
    <body>
        <a class="back-top-btn" href="#" onclick="return window.dashboardBack ? window.dashboardBack('arbitros') : false;">← Volver</a>

        <h2>Formulario de Árbitro</h2>

        <div class="form-container" th:fragment="contenido">
            <form th:action="@{/referees/admin/save}" method="post" class="referee-form">

                <label>Cédula:</label>
                <input type="text" name="idR" required pattern="[0-9]+" maxlength="12"/>

                <label>Nombre:</label>
                <input type="text" name="nameR" required minlength="3" pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ\s]+" maxlength="40"><br>

                <label>Apellido:</label>
                <input type="text" name="lastnameR" required minlength="3" pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ\s]+" maxlength="40"><br>

                <label>Correo:</label>
                <input type="email" name="mailR" maxlength="45" required><br>

                <label>Edad:</label>
                <input type="number" name="ageR" min="18" max="70" required><br>

                <label>Género:</label>
                <select name="genderR" required>
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                </select><br>

                <label>Experiencia (en años):</label>
                <input type="number" name="experienceR" min="0" max="50" required><br>

                <label>Disponible:</label>
                <input type="checkbox" name="availableR" value="true">
                <input type="hidden" name="availableR" value="false">

                <input type="submit" value="Guardar">
                <a href="/referees/admin" class="btn-inicio back-referee-list">Volver</a>
            </form>
        </div>
    </body>
</html>
