<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista de Torneos</title>
        <link rel="stylesheet" th:href="@{/css/tournament.css}">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
    <body>
        <div class="tournament-container" th:fragment="contenido">
            <h2>Lista de Torneos</h2>

            <div class="main-content">
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Fecha de Inicio</th>
                                <th>Fecha de Cierre</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="tournament : ${tournaments}">
                                <td th:text="${tournament.name}">Nombre Torneo</td>
                                <td th:text="${tournament.startDate}">01/01/2025</td>
                                <td th:text="${tournament.endDate}">10/01/2025</td>
                                <td>
                                    <span th:if="${tournament.tournamentState == 'DRAFT' or tournament.tournamentState == null}" class="status-badge status-draft">Borrador</span>
                                    <span th:if="${tournament.tournamentState == 'ACTIVE'}" class="status-badge status-active">Activo</span>
                                    <span th:if="${tournament.tournamentState == 'FINISHED'}" class="status-badge status-finished">Finalizado</span>
                                </td>
                                <td>
                                    <a th:href="@{/tournaments/admin/details(id=${tournament.id})}" class="action-btn details-tournament-link">Gestionar</a>
                                    <form th:action="@{/tournaments/admin/delete}" method="post" style="display:inline;" class="tournament-delete-form">
                                        <input type="hidden" name="id" th:value="${tournament.id}">
                                        <button type="submit" class="delete-btn">Eliminar</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="add-button-container">
                    <a th:href="@{/tournaments/admin/form}" class="add-btn add-tournament-link">Agregar Torneo</a>
                </div>
            </div>
        </div>
    </body>
</html>
